body{
    background: black;
    color: gold;
}

.contents{
    border-style: solid;
    border-radius: 1px;
    margin-left: 5px;
    margin-right: 5px;
    /* text-indent: 20px; */
}

.button{
    background-color:gold;
    color: black;
    padding: 5px 20px;
    font-weight: bold;
}

a{
    text-indent: 20px;
    color: gold;
}
