<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/editform.css" />
    </head>
    <title>Page Edit</title>
    <!-- url_for() finds the route to the given function, and we can pass its parameters as well -->
    <!-- input type="hidden" can pass information without it needing to be entered by the user-->
    {{error}}
    <body>
        <h1>Currently Editing: {{page}}</h1>
        <form>
            <input class="button" type="submit" formaction="{{ url_for('get_page_name', page_name = page) }}" value="View Page"></input>
            <input class="button" type="submit" formaction="/" value="Back to Homepage"></input>
        </form>
        <form action="{{url_for('edit_page', page_name = page)}}" method="POST">

            <p><label for="content_box">Enter your changes:</label></p>

            <p>
                <textarea class="form_box" id="content_box" name="contents"
                style="width: 750px; font-size: 14px; height: 500px;">{{current_contents}}</textarea>
            </p>

            <p><label for="changes_box">Briefly describe what changes you've made:</label></p>

            <p><textarea class="form_box" id="changes_box" name="changes" style="width: 750px;"></textarea></p>

            <p><label for="Editor_Name">Your Name:</label></p>
            <p><textarea class="form_box" id="Editor_Name" name="Name" style="width: 750px;"></textarea></p>


            <p><label for="Editor_Email">Your Email:</label></p>
            <p><textarea class="form_box" id="Editor_Email" name="Email" style="width: 750px;"></textarea></p>

            <p><input class="button" type="submit"</input></p>
        </form>
    </body>
</html>
