<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/page.css" />
    </head>
<form>
    <input class="button" type="submit" formaction="{{ url_for('get_page_name', page_name = page) }}" value="View Page"></input>
    <input class="button" type="submit" formaction="/" value="Back to Homepage" ></input>
</form>

<fieldset>
    <legend>History</legend>
    {% if history %}
        {% for change in history %}
            <p>{{change}}</p>
        {% endfor%}
    {% else %}
        <p>No changes have been made to this page</p>
    {% endif%}
</fieldset>
</html>
