<!DOCTYPE html>
<title>"Page Edit</title>

<form action="/view/handle-page-edits" method="POST">
    <p>
        <label for="name_box">"Enter the name of the page you want to edit:"</label>
    </p>

    <p>
        <textarea id="name_box" name="name" style="width: 750px;"></textarea>
    </p>
    <p>
        <label for="content_box">"Enter your changes:"</label>
    </p>

    <p>
        <textarea id="content_box" name="contents"
        style="width: 750px; font-size: 14px; height: 500px;">
        {{current_contents}}</textarea>
    </p>
    
    <p>
        <label for="changes_box">"Briefly describe what changes you've made:"</label>
    </p>

    <p>
    <textarea id="changes_box" name="changes" style="width: 750px;"></textarea>
    </p>

    <p>
        <input type="submit"</input>
    </p>
</form>