<!DOCTYPE html>
{{contents}}
<!-- url_for() finds the route to the given function, and we can pass its parameters as well -->
<!-- input type="hidden" can pass information without it needing to be entered by the user-->

<form>
    <input type="hidden" name=page id=page value="test_page"></input>
    <input type="submit" formaction="{{ url_for('get_edit_form', page_name='test_page') }}" 
    value="Edit Page"></input>
    <input type="submit" formaction="/" value="Back to Homepage" ></input>
</form>